{{ define "navbar" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>HouseRentalSystem</title>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../../css/Animated-Pretty-Product-List-v12.css">
    <link rel="stylesheet" href="../../css/card-image-zoom-on-hover.css">
    <link rel="stylesheet" href="../../css/Customizable-Carousel-swipe-enabled.css">
    <link rel="stylesheet" href="../../css/Dark-Footer-1.css">
    <link rel="stylesheet" href="../../css/Dark-Footer-2.css">
    <link rel="stylesheet" href="../../css/Dark-Footer.css">
    <link rel="stylesheet" href="../../css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="../../css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="../../css/Dark-NavBar.css">
    <link rel="stylesheet" href="../../css/Grid-and-List-view-V10-1.css">
    <link rel="stylesheet" href="../../css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="../../css/Hero-Travel.css">
    <link rel="stylesheet" href="../../css/Login-Form-Dark-1.css">
    <link rel="stylesheet" href="../../css/Login-Form-Dark.css">
    <link rel="stylesheet" href="../../css/PHP-Contact-Form-dark-1.css">
    <link rel="stylesheet" href="../../css/PHP-Contact-Form-dark.css">
    <link rel="stylesheet" href="../../css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="../../css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="../../css/Responsive-Form-1.css">
    <link rel="stylesheet" href="../../css/Responsive-Form.css">
    <link rel="stylesheet" href="../../css/Search-Input-responsive.css">
    <link rel="stylesheet" href="../../css/select2.css">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/Tourist-Information-Panel---Lite--Secondary-Tourist-Panel-Footer.css">
    <link rel="stylesheet" href="../../css/WOWSlider-about-us-1.css">
    <link rel="stylesheet" href="../../css/WOWSlider-about-us-2.css">
    <link rel="stylesheet" href="../../css/WOWSlider-about-us.css">
</head>

<body>
    <div style="width: auto;height: auto;">
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height: auto;background-color: #37434d;color: #ffffff;width: auto;">
            <div class="container-fluid"><a class="navbar-brand" href="#"><i class="fa fa-globe"></i>&nbsp;HRS</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1" style="width: auto;height: auto;">
                    <div class="float-left float-md-right mt-5 mt-md-0 search-area" value={{.Country}}style="max-width: auto;max-height: auto;margin-left: 200px;"><i class="fas fa-search float-left search-icon"></i><input class="float-left float-sm-right custom-search-input" type="search" placeholder="search country"></div>
                    <ul class="nav navbar-nav ml-auto" style="min-width: 50%;max-width: 90%;">
                        <li class="nav-item" role="presentation"><a class="nav-link active" style="color:#ffffff;" href="/"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" style="color:#ffffff;" href="#"><i class="fa fa-wpexplorer"></i>&nbsp;Explore</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" style="color:#ffffff;" href="#"><i class="fa fa-star-o"></i>&nbsp;Features</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" style="color:#ffffff;" href="#"><i class="fa fa-Tourist-circle-o"></i>Profile</a></li>
                        
                        <li class="nav-item" role="presentation"><a class="nav-link" style="color:#ffffff;" href="login"><i class="fa fa-sign-in"></i>&nbsp;Login</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" style="color:#ffffff;" href="Signup"><i class="fa fa-sign-in"></i>&nbsp;Sign In</a></li>
                    </ul>
            </div>
    </div>
    </nav>
    </div>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../js/Customizable-Carousel-swipe-enabled.js"></script>
    <script src="../../js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="../../js/Grid-and-List-view-V10.js"></script>
    <script src="../../js/PHP-Contact-Form-dark-1.js"></script>
    <script src="../../js/PHP-Contact-Form-dark.js"></script>
    <script src="../../js/Profile-Edit-Form.js"></script>
    <script src="../../js/select2-1.js"></script>
    <script src="../../js/select2-2.js"></script>
    <script src="../../js/select2-3.js"></script>
    <script src="../../js/select2-4.js"></script>
    <script src="../../js/select2-5.js"></script>
    <script src="../../js/select2-6.js"></script>
    <script src="../../js/select2.js"></script>
    <script src="../../js/WOWSlider-about-us.js"></script>
{{end}}