{{ define "about.layout" }}

{{ template "navbar" . }}
{{ template "about.content" . }}
{{ template "footer" . }}

{{ end }}

{{ define "about.content" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>HouseRentalSystem</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="assets/css/Animated-Pretty-Product-List-v12.css">
    <link rel="stylesheet" href="assets/css/card-image-zoom-on-hover.css">
    <link rel="stylesheet" href="assets/css/Customizable-Carousel-swipe-enabled.css">
    <link rel="stylesheet" href="assets/css/Dark-Footer-1.css">
    <link rel="stylesheet" href="assets/css/Dark-Footer-2.css">
    <link rel="stylesheet" href="assets/css/Dark-Footer.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10-1.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="assets/css/Hero-Travel.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark-1.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/PHP-Contact-Form-dark-1.css">
    <link rel="stylesheet" href="assets/css/PHP-Contact-Form-dark.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="assets/css/Responsive-Form-1.css">
    <link rel="stylesheet" href="assets/css/Responsive-Form.css">
    <link rel="stylesheet" href="assets/css/Search-Input-responsive.css">
    <link rel="stylesheet" href="assets/css/select2.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Tourist-Information-Panel---Lite--Secondary-Tourist-Panel-Footer.css">
    <link rel="stylesheet" href="assets/css/WOWSlider-about-us-1.css">
    <link rel="stylesheet" href="assets/css/WOWSlider-about-us-2.css">
    <link rel="stylesheet" href="assets/css/WOWSlider-about-us.css">
</head>

<body>
    <section class="about-us">
        <div class="row">
            <div class="col">
                <h1 class="text-danger text-center">About us</h1>
            </div>
        </div>
        <div class="container">
            <div class="row padding-content" style="background-color: #009bc1;padding-left: 15px;">
                <div class="col-md-4 no-padding">
                    <div id="wowslider-container1">
                        <div class="ws_images">
                            <ul>
                                <li><img id="wows1_0" src="assets/img/4-5C85B93C-1478484-800.jpg"></li>
                                <li><img id="wows1_1" src="assets/img/3Hb0RH_s6s8.jpg"></li>
                                <li><img id="wows1_2" src="assets/img/6NMPUFefwgM.jpg"></li>
                                <li><img id="wows1_3" src="assets/img/8sl6Q86gsfM.jpg"></li>
                                <li><img id="wows1_4" src="assets/img/wNvJKN1zPtE.jpg"><div>Custom Code</div></li>
                            </ul>
                        </div>
                        <div class="ws_script" href="http://wowslider.net" style="position:absolute;left:-99%"><a href="http://wowslider.net">javascript image slider</a><strong>Bold</strong></div>
                        <div class="ws_shadow"></div>
                    </div>
                </div>
                <div class="col-md-8 abt-right">
                    <h1 class="text-center">Heading</h1>
                    <p style="margin-left: 40px;"><br><br>Over the years landlords/property managers have had a<br>problem in maintaining and managing their customers and their<br>own records.<br>Management has become difficult because of issues that<br>include:<br>i) Data growth<br>Data
                        increase day to day. Storing and maintaining all data<br>manually is very difficult<br>ii) Lack of computerized system<br>Currently most landlords/property managers use the manual<br>system in recording and maintaining their property
                        and<br>customers data<br>iii) Data security is not assured<br>In a manual way, data is recorded on books/papers which<br>may easily get damaged leading to loss of data.<br>iv) There is no database to store information<br>Potential
                        of data loss or damage is very high because data is<br>stored on tangible files.<br>Lack of these crucial requirements makes management of<br>the tenants and houses very difficult as some tenants may end up<br>not paying rent.
                        <br><br><button class="btn btn-primary abt-right-btn" type="button">Read more&nbsp;<i class="fa fa-chevron-down"></i></button><br><br><br></p>
                </div>
            </div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Customizable-Carousel-swipe-enabled.js"></script>
    <script src="assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="assets/js/Grid-and-List-view-V10.js"></script>
    <script src="assets/js/PHP-Contact-Form-dark-1.js"></script>
    <script src="assets/js/PHP-Contact-Form-dark.js"></script>
    <script src="assets/js/Profile-Edit-Form.js"></script>
    <script src="assets/js/select2-1.js"></script>
    <script src="assets/js/select2-2.js"></script>
    <script src="assets/js/select2-3.js"></script>
    <script src="assets/js/select2-4.js"></script>
    <script src="assets/js/select2-5.js"></script>
    <script src="assets/js/select2-6.js"></script>
    <script src="assets/js/select2.js"></script>
    <script src="assets/js/WOWSlider-about-us.js"></script>
{{end}}